.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

*{
    margin:0;
    padding: 0;
    border: 0;
    outline: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  

html, body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto', sans-serif;
    /* border: 1px solid #ccc; */
}

a{
    color: inherit;
    text-decoration: none;
}

footer{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

textarea{
    border: 1px solid grey;
    border-radius: 10px;
    resize: none;
    font-family: inherit;
    padding: 15px;
}

/* .text-box-small{
    width: auto;
    height: 32px;
    border-bottom: 0.01px solid grey;
    padding: 10px 15px;
} */

input::placeholder{
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
}

.closed-button{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    background-color: #0071E3;
    color: rgba(245, 245, 245, 0.945);
    font-size: 18px;
    font-weight: 400;
    max-width: fit-content;
    white-space: nowrap;
    text-align: center;
}

.closed-button:hover{
    color: white;
}


/* Header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1000;
    height: 65px;
    /* border: 1px solid #ccc; */
    /* background-color: thistle; */
}

nav{
    position: fixed;
    width: 90%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: white;
    max-width: 1500px;
    /* box-shadow: 0px 0px 15px #021c3514; */
    /* border: 1px solid #ccc; */
    opacity: 0.9;
    z-index: 300;
    transition: 0.5s ease;
}  

.logo{
    width: 180px;
    margin-left: 20px;
    margin-top: 4px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navbar-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.navbar-text a{
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.navbar-text a:hover{
    color: #3d3d3d;
}

.navbar-text img{
    width: 35px;
    height: 30px;
}

.client-portal a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #0071E3;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #0071E3;
    white-space: nowrap;
    z-index: 1000;
    transition: 0.5s ease;
}

.client-portal a:hover{
    background-color: #0071E3;
    color: white;
    animation-delay: 200ms;
}
/* Footer !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

footer{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    max-width: 1500px;
    height: 75px;
    padding: 15px 30px;
    background-color: whitesmoke;
    opacity: 0.8;
    margin-bottom: 20px;
}

.left-footer{
    padding-left: 10px;
    font-family: 'roboto';
}
.centre-footer img{
    width: 120px;
}

.right-footer{
    padding-right: 10px;
    font-family: 'roboto';
}



/* Main !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px; 
    gap: 180px;
    max-width: 1500px;
    /* border: 1px solid #ccc; */
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    /* scroll-snap-type: */
}

.hero{
    height: 255px;
    width: 500px;
    flex: none;
    /* border: 1px solid #ccc; */
}


.hero-img img{
    width: 100%;
    height: auto; 
    object-fit:contain;
    max-width: 700px;
    max-height: 700px;
    /* border: 1px solid #ccc; */
}

.title h1{
    font-size: 50px;
    color: #3d3d3d;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
}

.slogan h3{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 40px;
    color:grey;
    /* border: 1px solid #ccc; */
}

.hero a{
    padding: 15px 50px;
    border-radius: 15px;
    background-color: #0071E3;
    color: rgba(245, 245, 245, 0.945);
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    transition: 0.5s ease;
}

.hero a:hover{
    color: white;
    opacity: 0.9;
}


.segment-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    /* padding: 50px; */
    /* border: 1px solid #ccc; */
    border-radius: 15px;
}

.segment-container-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px 30px;
    background-color: rgb(250,250,252);
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.segment-container-inner img{
    width: 70px;
    height: 70px;
}

.segment-container-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.segment-container-text h2{
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 600;
}

.segment-container-inner p{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: grey;
    text-wrap: pretty;
    word-wrap: break-word;
    width: 100%;
}

.description-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
}

.description-container img{
    width: 100%;
    height: auto; 
    object-fit:contain;
    max-width: 500px;
    max-height: 500px;
    /* border: 1px solid #ccc; */
}

.description-container-inner{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

.description-container-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-container-text h3{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #E76F51;
}

.description-container-text h2{
    font-size: 40px;
    color: #3d3d3d;
    font-weight: 600;
}

.description-container-text p{
    font-size: 22px;
    font-weight: 300;
    color: #07122b;
    line-height: 30px;
    text-wrap: pretty;
}

.learn-more{
    color: #0071E3;
}

.end-container{
    background-color: #f0f3f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 380px;
    border-radius: 20px;
    gap: 40px;
}

.end-container-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.end-container-text h1{
    color: #0e1012;
    font-size: 35px;
}

.end-container-text p{
    font-size: 20px;
    font-weight: 300;
    color: #566171;
}

.open-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    border: 1.5px solid #0071E3;
    padding: 12px 50px;
    font-size: 18px;
    font-weight: 400;
    color: #0071E3;
    white-space: nowrap;
    z-index: 1000;
    transition: 0.5s ease;
}

.open-button:hover{
    background-color: #0071E3;
    color: white;
    animation-delay: 200ms;
}

/* Contact Us Page */

.contact-us-container{
    display: flex;
    justify-content:center;
    gap: 100px;
    margin: 40px;
}

.contact-us-container-text{
    display: flex;
    flex-direction: column;
}

.contact-us-container-text h1{
    color: #264653;
    font-size: 40px;
    margin: 0px;
}

.contact-us-container-text h3{
    color: #264653;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0px;
}

.contact-us-container-text h4{
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}

.help-container{
    display: flex;
    flex-direction: column;
}

.help-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0px;
}

.help-text-container img{
    width: 25px;
    height: 29px;
}

.help-text-container h5{
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 10;
    margin: 10px 0px;
}

iframe{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
    padding: 50px;
    box-shadow: 0px 0px 50px 10px #D9D9D9;
    width: 700px;
    height: 1165px;
    background-color: white;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
    padding: 50px;
    box-shadow: 0px 0px 50px 10px #D9D9D9;
    width: 500px;
    background-color: white;
}

form label p{
    font-size: 18px;
}

form label{
    font-size: 15px;
    font-weight: 400;
}

.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0071E3;
    color: white;
    border-radius: 15px;
    border: 2px solid #0071E3;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    z-index: 1000;
    transition: 0.5s ease;
}

.submit-button:hover{
    opacity: 0.8;
    animation-delay: 200ms;    
}

/* Build a Solution */


.build-solution-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250,250,252);
    /* border-radius: 30px; */
    padding-top: 40px;
    align-items: center; /* Center the content vertically */
    overflow: hidden; /* Prevents overflow, but be cautious using this */
}

.build-solution-container-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; /* Ensure it spans the full width */
    width: 1500px;
    margin: 0 auto; /* Center it within the parent */
}


.tab{
    display: none;
}

.build-solution-container-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    margin-bottom: 40px;
}

.build-solution-container-header h1{
    color: #07122b;
}

.build-solution-container-header p{
    font-size: 18px;
    font-weight: 300;
    color: grey;
}

.build-solution-container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.footer-total-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.152);
    background-color: white;
    border-radius: 40px;
}

.footer-total{
    display: inline-flex;
    flex-direction: row;
    margin: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.build-solution-container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0071E3;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.build-solution-container-button img{
    width: 20%;

}

.build-solution-container-indicator img{
    width: 70px;
}

/* Hardware */
.hardware-container-outer{
    display: flex;
    position: relative;
    white-space: nowrap;
    width: auto;
    overflow-x:auto; 
    /* Enables horizontal scrolling */
    /* scroll-snap-type: x mandatory;  */
    /* Enables scroll snap along the x-axis */
    /* -webkit-overflow-scrolling: touch;  */
    /* Smooth scrolling on touch devices */
    /* scrollbar-width: none; */
}

.hardware-container{
    display:flex;
    margin: 0px 10%;
    gap: 25px;
}

#scroll-button{
    position: absolute;
    right: 20px;
    top: 50%;
    height: 50px;
    width: 80px;
    transform: translateY(-50%);
    z-index: 10;
}

.hardware-container h3{
    font-weight: 400;
    color: #E9604D;
}

.hardware-container h2{
    font-weight: 500;
}

.hardware-container p{
    color: #3d3d3d;
    text-wrap: wrap;
}

.hardware-container h4{
    font-size: 20px;
    font-weight: 500;
}

.hardware-container h5{
    color: grey;
    font-weight: 400;
}

.hardware-card{
    height: 381px;
    width: 355px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid whitesmoke;
    transition: 0.5s ease;
    /* scroll-snap-align: start;  */
    /* This card will snap aligning its start edge with the scroll container's start edge */
    /* flex: none;  */
    /* Prevents the card from growing or shrinking */
}

.hardware-card:hover{
    box-shadow: 7px 7px 15px #021c3514;
}

.selected{
    border: 3px solid #0071E3;
}

.hardware-title{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hardware-img{
    width: 100%;
    height: auto; 
    object-fit: cover;
    max-width: 180px;
    max-height: 180px;
}

.hardware-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.hardware-qty-container{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    gap: 15px;
}

.hardware-add, .hardware-minus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0071E3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s ease;
}

.hardware-add:hover, .hardware-minus:hover{
    opacity: 0.8;
}

.hardware-minus{
    display: none;
}

.hardware-qty{
    display: none;
    font-size: 18px;
    font-weight: 600;
}

.hardware-qty-container img{
    width: 65%;
}

/* Virtual Number */

.virtual-number-container-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 415px;
    gap: 30px;
    /* border: 1px solid black; */
}

.virtual-number-container-new, 
.virtual-number-container-transfer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    /* border: 1px solid black; */
}

.virtual-number-container-options button{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    gap: 30px;
    padding: 20px 35px;
    height: 335px;
    width: 345px;
    background-color: white;
    box-shadow: none;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    transition: 0.5s ease;
    z-index: 100;
}

.virtual-number-container-options button::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 30px; 
    width: 30px; 
    height: 30px; 
    background-color: rgb(250,250,252); 
    border-radius: 50%; 
    border: 0.1px solid #D9D9D9;
    z-index: 101; 
}

.virtual-number-container-options button.selected::after {
    width: 35px; 
    height: 35px;
    background-color: #0071E3; 
    border: 8px solid rgb(250,250,252);
}

.virtual-number-container-options button.selected {
    border: 3px solid #0071E3;
    /* padding: 18px 35px; */
}

.virtual-number-container-options button:hover{
    box-shadow: 7px 7px 15px #021c3514;
}

.slide-in-top{
    animation: slide-in-top 0.3s ease;
}

@keyframes slide-in-top {  
    from {
        transform: translateY(-70%);
    }
    to {
        transform: translateY(0);
    }
}

.slide-in-right{
    animation: slide-in-right 0.5s ease;
}

@keyframes slide-in-right {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0);
    }
}

.virtual-number-container-options img{
    width: 30%;
    margin: 0px;
}

.virtual-number-container-options h3{
    font-size: 26px;
    font-weight: 600;
    color: #3d3d3d;
    text-align: start;
}

.virtual-number-container-options p{
    font-weight: 500;
    font-size: 16px;
    color: #3d3d3dd5;
    text-align: start;
    border: 1px solid white;
}

.virtual-number-container-new select, 
.virtual-number-container-transfer input[type="text"]{
    appearance: none;
    text-align: center;
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
    color: #3d3d3d;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    padding: 15px;
    background-color: whitesmoke;
    width: 300px;
    display: none;
}


/* Talk time */

.talk-time-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 30px;
}

.minutes-total-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 30px;
    font-weight: 700;
    color: #2A9D8F;
}

.minutes-slider-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
}

.minutes-slider-indicators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 400px;
}

.minutes-slider-indicators p{
    font-size: 18px;
    font-weight: 300;
    color: grey;
}

input[type="range"] {
    -webkit-appearance: none; /* Essential to remove default styling in WebKit browsers */
    appearance: none;
    width: 400px;
    height: 20px;
    background-color: transparent; /* Background will be set via JS */
    border-radius: 10px;
    outline: none;
    transition: background 0.2s ease; /* Smooth transition for the background */
}

/* Thumb for WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white; /* Adjust as needed */
    /* border: 6px solid whitesmoke; */
    cursor: pointer;
    box-shadow: 0px 0px 10px #3d3d3d;
}

/* Thumb for Firefox */
input[type="range"]::-moz-range-thumb {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff; /* Adjust as needed */
    border: 6px solid #444;
    cursor: pointer;
}

.talk-time-description-container{
    height: 30px;
}

.talk-time-description-container p{
    font-size: 18px;
    font-weight: 300;
    color: #3d3d3d;
}

/* system Features */

.features-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0px 100px;
    height: 350px;
    width: auto;
    overflow-x :auto;
    /* border: 1px solid #ccc; */
}

.features-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid whitesmoke;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    width: 372px;
    height: 263px;
    text-wrap: wrap;
    transition: 0.5s ease;
    flex: none;
}

.features-card:hover{
    box-shadow: 7px 7px 15px #021c3514;
    /* padding: 32px; */
}

.features-card.selected{
    border: 3px solid #0071E3;
}

.features-container img{
    display: flex;
    align-items: center;
    width: 60px;
    height: auto;
}

.features-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

}

.features-card-text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    word-spacing: 0.8px;
}

.features-card-text p{
    font-size: 18px;
    font-weight: 300;
    overflow-wrap: break-word;
}

.features-add{
    position:relative;
    display: flex;
    /* float: right; */
    float: inline-end;
    justify-content: center;
    align-items: center;
    background-color: #0071E3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.features-add img{
    width: 65%;
}

.features-add.clicked{
    transform: rotate(45deg);
    background-color: #566171;
}

/* Basket */

.check-out{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.review-solution{
    display: flex;
    flex-direction: column;

}

.review-services{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    height: fit-content;
}

.review-hardware{
    background-color: white;
    border-radius: 25px;
    padding: 30px;
}

table{
    text-align: left;
    border-collapse: collapse;
}

table h4{
    font-size: 18px;
    font-weight: 500;
}

table p{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

th{
    width: 170px;
}

th:first-child{
    text-align: center;
    width: 80px;
}

td:last-child, th:last-child{
    padding: 10px;
    text-align: right;
}

thead{
    font-family: inherit;
    color: grey;
    border-bottom: 0.5px solid grey;
}

td{
    padding: 10px;
    white-space: nowrap;
}

tfoot{
    text-align: right;
    font-weight: 600;
    border-top: 0.5px solid grey;
}

table img{
    float: right;
    width: 60px;
}

.client-info form{
    display: flex;
    gap: 40px;
    margin-top: 55px;
    width: 550px;
    box-shadow: none;
}

.client-info input{
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Terms and Conditions */

.terms{
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    background-color: white;
}

.terms h4{
    display: flex;
    width: 80%;
    /* max-width: 1300px; */
    border-bottom: 0.1px solid grey;
    align-self: center;
}

.terms p{
    display: flex;
    align-self: center;
    width: 80%;
    /* max-width: 1300px; */
    text-align: justify;
    letter-spacing: 0.2px;
    word-spacing: 1px;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    
    main{
        margin: 50px;
        gap: 100px;
    }

    .hero-container{
        flex-direction: column;
        text-align: center;
    }

    .hero{
        width: 100%;
    }

    .hero a{
        border-radius: 15px;
        padding: 15px 200px;
    }

    .segment-container{
        flex-direction: column;
        padding: 50px;
    }

    .description-container{
        flex-direction: column;
        padding: 50px;
    }

    /* .features-card-text p {
        overflow-wrap: break-word;
        word-break: break-all;
    } */
}

@media (max-width: 480px) {
    main{
        margin: 20px;
        gap: 50px;
    }

    .hero{
        height: 260px;
        width: auto;
    }

    .title h1{
        font-size: 40px;
    }

    .hero a{
        border-radius: 15px;
        padding: 15px 100px;
    }

    .segment-container{
        padding: 30px;
    }
}

@media screen and (max-width: 850px){
    .navbar-text, .client-portal{
        display: none;
    }    

    .menu-icon{
        display: block;
    }

    .dropdown-menu{
        display: none;
    }

    .footer{
        justify-content: center;
    }

    .centre-footer img{
        display: none;
    }

    .right-footer{
        display: none;
    }

    /* Voice Page */

    .voice-heading{
        flex-direction: column;
    }

    .voice-heading-left h1{
        white-space: nowrap;
        margin-bottom: 5px;
    }

    .voice-heading-right{
        flex-direction: row;
        justify-content: start;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .voice-page-container{
        flex-direction: column;
    }

    .hardware-grid-container{
        display: flex;
        flex-direction: column;
    }
}